body {
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-bar {
  z-index: 0;
}

.iframe {
  z-index: -1;
  position: absolute;
  top: 64px;
  left: 0;
  width: 100%;
  height: calc(100% - 64px);
  border: none;
}

/* iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    top: 56px;
    height: calc(100% - 56px);
  }
}

/* iPhone 8 Plus */
@media only screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) {
  .iframe {
    top: 56px;
    height: calc(100% - 56px);
  }
}

/* iPhone 8 */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    top: 56px;
    height: calc(100% - 56px);
  }
}

/* iPhone 5 */
@media only screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  .iframe {
    top: 56px;
    height: calc(100% - 56px);
  }
}
